<%= render "shared/header" %>
<div class='main'>
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <%= render "items/index/title_contens"%>
  <%# FURIMAが選ばれる3つの理由部分 %>
  <%= render "items/index/select_reason"%>
  <%# 画面中央の「会員数日本一位」帯部分 %>
  <%= render "items/index/ad_contents"%>
  <%# FURIMAの特徴 %>
  <%= render "items/index/feature_contents"%>
  <%# 商品一覧 %>
  <%= render partial: "items/index/item_contens", locals: {item: @item } %>
</div>
<%# 出品ボタン %>
<%= render "items/index/purchase_btn"%>
<%# フッター %>
<%= render "shared/footer" %>