<%= render "shared/header" %>
<div class="item-show">
  <%# 商品の情報 %>
  <%= render partial: "items/show/item_box", locals: {item: @item }%>
  <%# コメント欄 %>
  <%= render "items/show/comment_box"%>
  <%# 前後のページへのリンク %>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>
<%= render "shared/footer" %>